@import '../common/m_common';

:host {
  display: none;

  .modal {
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 246px;
    margin: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,.5);
    border-radius: 4px;
    overflow: hidden;

    &.primary-dark {
      background: $woodsmoke;
      color: $white;

      .modal-header {
        background: $shark;
        color: $white;
      }
    }

    &.primary-light {
      background: $white;

      .modal-header {
        background: rgba(0,0,0,.1);
      }

      .close {
        color: $woodsmoke;
      }
    }

    &.secondary-dark {
      background: $woodsmoke;
      color: $white;
    }

    &.secondary-light {
      background: $white;

      .close {
        color: $woodsmoke;
      }
    }
    

    .modal-header {
      position: relative;
      padding: 13px 20px;
      text-transform: uppercase; 
      
      ::slotted([slot="modal-header"]){
        font-size: 12px;
        font-weight: 100;
      }
    }

    .modal-body {
      padding: 24px;

      ::slotted([slot="modal-content"]){
        font-size: 14px;
        font-weight: 100;
      }
    }

    button {
      background: none;
      border: none;
      outline: none;
      color: #fff;
      cursor: pointer;
    }

    &.xlg {
      width: 720px;
    }

    &.lg {
      width: 640px;
    }
   
    &.md {
      width: 560px;
    }

    &.sm {
      width: 400px;
    }

    .close {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
    }
  }
}