@import '../common/m_common';

:host {
  display: block;

  .modal {
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 246px;
    margin: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,.5);
    border-radius: 4px;
    overflow: hidden;

    &.primary-dark {
      background: $woodsmoke;

      .modal-header {
        background: $shark;
      }
    }

    &.primary-bright {
      background: $white;

      .modal-header {
        background: rgba(0,0,0,.1);
      }

      .close {
        color: $woodsmoke;
      }
    }

    &.secondary-dark {
      background: $woodsmoke;
    }

    &.secondary-bright {
      background: $white;

      .close {
        color: $woodsmoke;
      }
    }
    

    .modal-header {
      height: 48px;
      padding: 0 20px;
    }

    .modal-body {
      padding: 24px;
    }

    button {
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      color: #fff;
    }

    &.xlg {
      width: 720px;
    }

    &.lg {
      width: 640px;
    }
   
 

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}